if VENDOR_ZIDA

choice
	prompt "Mainboard model"

source "src/mainboard/zida/*/Kconfig.name"

endchoice

source "src/mainboard/zida/*/Kconfig"

config MAINBOARD_VENDOR
	default "Zida"

endif # VENDOR_ZIDA
